<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("head.html"); %>
    <link rel="stylesheet" href="../css/landing.css" />
    <title>MyLearn</title>
</head>
<body>
    <%- include("header.html"); %>

    <main>
        <div class="main-text-section">
            <h1>We can all easily<br>
                <b>learn online</b></h1>
            <p>We put the best technology at your fingertips so you can learn<br>
                new skills interactively with our courses.</p>
            <div class="btn"><a href="/register" class="btn">Start Learning</a></div>
            <div class="play-store">
                <p>Stay learning all the time with our Android app.</p>
                <a href="#"><img src="../img/play_store.svg" alt=""></a>
            </div>
        </div>
        <img src="../img/course-lesson-sample.svg" alt="">
    </main>

    <%- include("footer.html"); %>
</body>
</html>